<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
  <head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:; connect-src *; script-src *;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="UTF-8">

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/moment.js"></script>

    <script type="text/javascript" src="js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <title>Formularis d'assessorament i acompanyament</title>
  </head>
  <body ng-app="assessorament">
    <nav class="navbar-1" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://web.gencat.cat/" target="_blank"><img src="img/logo-generalitat.gif" alt="Logo voluntariat.org"/></a>
            </div>
        </div>
    </nav>
    <nav class="navbar-2" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.voluntariat.org/" target="_blank"><img src="img/logo.png" alt="Logo voluntariat.org"/></a>
            </div>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div ng-controller="FormCtrl">

            <!-- INICI -->
            <div id="tipus" ng-show="step_id=='tipus'">
              <h1 class="page-header">Formularis d'assessorament i acompanyament</h1>
              <p>Si vols aconseguir més impacte social, ASSESSORA'T! La Direcció General d'Acció Cívica i Comunitària posa a la teva disposició un conjunt de serveis d'assessorament i acompanyament gratuïts. Pots fer la teva sol·licitud a través del següent formulari:</p>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <p>
                    <button type="button" class="btn btn-primary btn-block" ng-click="setType('puntual')">
                      <h2>Assessorament</h2>
                    </button>
                  </p>
                  <a href="http://www.voluntariat.org/Suport-i-serveis/Serveis-dassessorament-a-les-entitats/serveis-assessorament" class="list-group-item" target="_blank">
                    <h4 class="text-center">Consulta en quines temàtiques t'assessorem</h4>
                    <ul>
                      <li>Coneixes quins són els serveis</li>
                      <li>Quines són les prestacions que et donen?</li>
                      <li>Quines són les temàtiques sobre les quals ens pots consultar?</li>
                      <li>Quin és el temps de  resposta?</li>
                    </ul>
                  </a>
                </div>
                <div class="col-md-6 col-sm-12">
                  <p>
                    <button type="button" class="btn btn-primary btn-block" ng-click="setType('acompanyament')">
                      <h2>Acompanyament</h2>
                    </button>
                  </p>
                  <a href="http://www.voluntariat.org/Suport-i-serveis/Serveis-dassessorament-a-les-entitats/servei-acompanyament-integral" class="list-group-item" target="_blank">
                    <h4 class="text-center">Consulta en quines temàtiques t'acompanyem</h4>
                    <ul>
                      <li>En què consisteix l’acompanyament?</li>
                      <li>Coneixes quins són els serveis?</li>
                      <li>Quines són les prestacions que et donen?</li>
                      <li>Quines són les temàtiques sobre les quals ens pots consultar?</li>
                      <li>Quines són les condicions d’ús d’aquest servei?</li>
                    </ul>
                  </a>
                </div>
              </div>
            </div>

            <!-- TIPUS ACOMPANYAMENT -->
            <div id="tipus_acompanyament" ng-show="step_id=='tipus_acompanyament'">
              <h1 class="page-header">Pas {{step}}: Tipus d'acompanyament</h1>
              <p>Identifiqueu quin tipus de suport necessiteu</p>
              <form ng-submit="advance()">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la posada en marxa de l'entitat" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la posada en marxa de l'entitat
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora dels projectes d'intervenció" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora dels projectes d'intervenció
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de la gestió del voluntariat" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de la gestió del voluntariat
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de la comunicació" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de la comunicació
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de la participació" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de la participació
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de la captació de fons" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de la captació de fons
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de la planificació estratègica" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de la planificació estratègica
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="A la millora de les competències de l’equip" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        A la millora de les competències de l’equip
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" ng-model="data.tipus_acompanyament" type="radio" value="Suport per la sostenibilitat de l’entitat" ng-required="!data.tipus_acompanyament" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        Suport per la sostenibilitat de l’entitat
                      </label>
                    </div>
                  </div>
                </div>
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary" ng-click="goBack()"><< Endarrere</button>
                <button type="submit" class="btn btn-success" >Endavant >></button>
              </form>
            </div>

            <!-- CONSULTA -->
            <div id="consulta" ng-show="step_id=='consulta'">
              <h1 class="page-header">Pas {{step}}: Consulta</h1>
              <form ng-submit="advance()">
                <div class="form-group">
                  <label for="consultaTextarea">En què vols que t'ajudem?</label>
                  <textarea class="form-control" id="consultaTextarea" rows="7" ng-model="data.consulta" required></textarea>
                </div>
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary" ng-click="goBack()"><< Endarrere</button>
                <button type="submit" class="btn btn-success" >Endavant >></button>
              </form>
            </div>

            <!-- DADES PERSONALS -->
            <div id="dades_personals" ng-show="step_id=='dades_personals'">
              <h1 class="page-header">Pas {{step}}: Dades personals</h1>
              <p>Proporciona'ns les teves dades per tal que ens dirigim a tu correctament</p>
              <form ng-submit="advance()">
                <div class="row">
                  <div class="col-xs-6">
                    <label for="nom">Nom</label>
                      <input type="text" class="form-control" id="nom" ng-model="data.dades_personals.nom" required>
                  </div>
                  <div class="col-xs-6">
                    <label for="cognom">Cognom</label>
                      <input type="text" class="form-control" id="cognom" ng-model="data.dades_personals.cognom" required>
                  </div>
                </div>
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary" ng-click="goBack()"><< Endarrere</button>
                <button type="submit" class="btn btn-success" >Endavant >></button>
              </form>
            </div>

            <!-- ALTRES DADES -->
            <div id="altres_dades" ng-show="step_id=='altres_dades'">
              <h1 class="page-header" >Pas {{step}}: Altres dades</h1>
              <form ng-submit="advance()">
                <fieldset class="form-group">
                  <legend>Realitzes la consulta</legend>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" ng-model="data.altres_dades.personal_entitat" value="personal" ng-required="!data.altres_dades.personal_entitat">
                      A títol personal
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" ng-model="data.altres_dades.personal_entitat" value="entitat" ng-required="!data.altres_dades.personal_entitat">
                      En nom d'una entitat
                    </label>
                  </div>
                </fieldset>
                <fieldset class="form-group" ng-show="data.altres_dades.personal_entitat=='personal'">
                  <legend>Altres dades personals</legend>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                      <label for="dni">DNI</label>
                      <input type="text" class="form-control" id="dni" ng-model="data.altres_dades.dni_nif" ng-required="data.altres_dades.personal_entitat=='personal'">
                    </div>
                    <div class="form-group form-inline col-xs-6">
                        <label for="email">Correu electrònic</label>
                        <input type="email" class="form-control" id="email" ng-model="data.altres_dades.email" ng-required="data.altres_dades.personal_entitat=='personal'">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                        <label for="tel">Telèfon</label>
                        <input type="tel" class="form-control" id="tel" ng-model="data.altres_dades.tel" ng-required="data.altres_dades.personal_entitat=='personal'">
                    </div>
                    <div class="form-group form-inline col-xs-6">
                      <label for="town">Població</label>
                      <input id="town" placeholder="Comença a escriure ..." type="text" ng-model="data.altres_dades.town" typeahead-editable="false" uib-typeahead="town for town in towns | filter:$viewValue | limitTo:8" class="form-control" typeahead-min-length="0" typeahead-no-results="noResults" ng-required="data.altres_dades.personal_entitat=='personal'">
                      <span ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                        <ul class="uib-dropdown-menu" >
                          <li><a href>No hi ha resultats</a></li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group" ng-show="data.altres_dades.personal_entitat=='entitat'">
                  <legend>Dades de l'entitat</legend>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                      <label for="nom_entitat">Nom de l'entitat</label>
                      <input type="text" class="form-control" id="nom_entitat" ng-model="data.altres_dades.nom_entitat" ng-required="data.altres_dades.personal_entitat=='entitat'">
                    </div>
                    <div class="form-group form-inline col-xs-6">
                      <label for="dni">NIF de l'entitat</label>
                      <input type="text" class="form-control" id="dni" ng-model="data.altres_dades.dni_nif" ng-required="data.altres_dades.personal_entitat=='entitat'">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                        <label for="email">Correu electrònic</label>
                        <input type="email" class="form-control" id="email" ng-model="data.altres_dades.email" ng-required="data.altres_dades.personal_entitat=='entitat'">
                    </div>
                    <div class="form-group form-inline col-xs-6">
                        <label for="tel">Telèfon</label>
                        <input type="tel" class="form-control" id="tel" ng-model="data.altres_dades.tel" ng-required="data.altres_dades.personal_entitat=='entitat'">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                      <label for="structure">Forma jurídica de l'entitat</label>
                      <select id="structure" ng-model="data.altres_dades.structure" class="form-control" ng-required="data.altres_dades.personal_entitat=='entitat'">
                        <option ng-repeat="structure in structures" value="structure">{{structure}}</option>
                      </select>
                    </div>
                    <div class="form-group form-inline col-xs-6">
                      <label for="area">Àmbit d'actuació de l'entitat</label>
                      <select id="area" ng-model="data.altres_dades.area" class="form-control" ng-required="data.altres_dades.personal_entitat=='entitat'">
                        <option ng-repeat="area in areas" value="structure">{{area}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group form-inline col-xs-6">
                      <label for="town">Població de l'entitat</label>
                      <input id="town" placeholder="Comença a escriure ..." type="text" ng-model="data.altres_dades.town" typeahead-editable="false" uib-typeahead="town for town in towns | filter:$viewValue | limitTo:8" class="form-control" typeahead-min-length="0" typeahead-no-results="noResults" ng-required="data.altres_dades.personal_entitat=='entitat'">
                      <span ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                        <ul class="dropdown-menu" >
                          <li><a href>No hi ha resultats</a></li>
                        </ul>
                      </span>
                    </div>
                    <div class="form-group form-inline col-xs-6">
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </fieldset>
                <button type="button" class="btn btn-primary" ng-click="goBack()"><< Endarrere</button>
                <button type="submit" class="btn btn-success" >Endavant >></button>
              </form>
            </div>

            <!-- FINAL -->
            <div id="final" ng-show="step_id=='final'">
              <h1 class="page-header">Pas {{step}}: Final</h1>
              <p> </p>
              <form ng-submit="send()">
                <legend>Com ens has conegut?</legend>
                <label for="how">Ens vols ajudar a millorar? Explica'ns com ens has conegut</label>
                <select id="how" ng-model="data.conegut" class="form-control" required>
                  <option ng-repeat="how in hows" value="how">{{how}}</option>
                </select>
                <p>&nbsp;</p>
                <div ng-show="data.tipus=='acompanyament'">
                  <legend>Compromís</legend>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="data.compromis" value="" ng-required="data.tipus=='acompanyament'">
                      Estic disposat a acceptar el compromís d'acompanyament
                    </label>
                  </div>
                  <p>&nbsp;</p>
                </div>
                <legend>Avís legal</legend>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="data.lopd" value="" required>
                    D'acord amb la Llei orgànica 15/1999, de protecció de dades de caràcter personal, les vostres dades seran incorporades al fitxer "Entitats de voluntariat", del qual és responsable la Direcció General d'Acció Cívica i Comunitària. La finalitat és integrar les dades a un banc de dades de les entitats sense afany de lucre de voluntariat de Catalunya i gestionar l'enviament de comunicacions als/a les voluntaris/àries. Podeu exercir els drets d'accés, rectificació, cancel.lació i oposició mitjançant un escrit adreçat al Servei de Promoció de l'Associacionisme i el Voluntariat: Passeig Taulat 266-270, 08019 Barcelona.
                  </label>
                </div>
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary" ng-click="goBack()"><< Endarrere</button>
                <button type="submit" class="btn btn-success">Finalitza</button>
              </form>
            </div>

            <!-- ENVIAT -->
            <div id="compromis" ng-show="step_id=='enviat'">
              <h1 class="page-header">Formulari registrat</h1>
              <div class="alert alert-warning" role="alert" ng-show="error">S'ha produit un error. Si us plau posa't en contacte amb serveis@voluntariat.org</div>
              <div class="alert alert-success" role="alert" ng-hide="error">El formulari s'ha registrat correctament. Moltes gràcies per contactar amb nosaltres, en 72 hores com a màxim ens posarem en contacte amb tu.</div>
              <p>&nbsp;</p>
              <button type="button" class="btn btn-warning" ng-click="restart()">Tornar a l'inici</button>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div ng-controller="RssCtrl">
            <h1 class="page-header"><a href="http://xarxanet.org" target="_blank"><img src="img/logo-xarxanet.svg" /></a></h1>
            <!--<a href="http://xarxanet.org"><img src="img/banner.png" alt="Banner Xarxanet.org" /></a>-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Recursos de Xarxanet.org</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a ng-repeat="feed in feeds" ng-href="{{feed.link}}" class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">{{feed.title}}</h4>
                    <p>{{feed.description}}</p>
                    <p class="list-group-item-text small">{{feed.author}} - {{feed.pubDate}}</p>
                  </a>
                </div>
                <a href="http://xarxanet.org/recursos" target="_blank">Mostra tots els recursos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
